
h1{
  font-size: 7vh;
}



.word{
  display: block;
  position: absolute;
  left: 2%;
  top: 52%;
}
.word button{
  background-color: transparent;
  position:relative;
  display: block;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 5vh;
  border: none;
  z-index: 5;
  font-family: "Fugaz One", sans-serif;
  font-weight: bold;
}

.word:hover{
  z-index: 3;
}
.word button:hover{
  animation: pop 0.3s ease forwards;
  transition: 0.1s;
  rotate: 3deg;
  z-index: 5;
}

@keyframes pop{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1.4);
  }
}

#triangle::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  top:0;
  left: 0;
  clip-path: polygon(90% 0, 0 80%, 70% 90%);
  z-index: 2;
  opacity: 0;
}

#triangle2::before{
  position: absolute;
  content:"";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 183, 0.55);
  top:0;
  left: 0;
  clip-path: polygon(95% 10%, 0 80%, 75% 95%);
  z-index: 1;
  opacity: 0;

}



.word button:hover #triangle::before{
  opacity: 1;
}

.word button:hover #triangle2::before{
  transition:opacity .2s;
  opacity: 1;
}

.textButton{
  position: relative;
  display: block;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.gray{
  color:gray;
}

.red{
  display: none;
  color:red;
  position:absolute;
  clip-path: polygon(110% -10%, -30% 80%, 97% 90%);
}

.gray{
  color: rgb(0, 16, 115);
}

.word button:hover .gray{
  color: rgba(22, 26, 34, 0.9);
}

.word button:hover .red{
  display: block;
}
